@import url('vars-css.css');

body {
    background-color: var(--cor-terciaria);
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-principal);
}

.conteiner-form {
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 60vh;
    
    border: 1px solid black;
    border-radius: 18px;
}

.text {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 36px;
}

.user-form{
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-email, .user-password {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 80%;
}

label {
    padding-left: 0.5rem;
    font-family: var(--font-principal);
    font-size: 18px;
    font-weight: 500;
}

input {
    font-size: 14px;
    font-weight: 200;
    margin-top: 0.5rem;
    border: 0px solid;
    border-radius: 20px;
    height: 3rem;
    font-size: 17px;
    padding-left: 20px;
}

p {
    font-size: 16px;
    font-weight: 500;
}

.button {
    padding: 1rem;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--cor-quartenaria);
    color: white;
    width: 20%;
    cursor: pointer;
    margin-top: 1.75rem;
}

.button:hover {
    background-color: var(--cor-quintenaria);
    transition-duration: 1s;
}