@import url('vars-css.css');

body {
    background-color: var(--cor-secundaria);
    font-family: var(--font-principal);
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-terciaria);
    color: var(--cor-quintenaria);
}
 
header .something {
    font-family: var(--font-principal);
    font-size: 30px;
    font-weight: 800;
    margin-left: 3.5%;
    cursor: pointer;
    color: var(--cor-quintenaria);
}

header .navigation a {
    text-decoration: none;
}


header .navigation {
    width: 7%;
    font-size: 30px;
    font-weight: 800;
    margin-right: 3.5%;
    display: flex;
    justify-content: space-between;
}

header .navigation i {
    cursor: pointer;
    text-decoration: none;
    color: var(--cor-quintenaria);
}

.notes-conteiner {
    background-color: var(--cor-secundaria);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
}

.notes-conteiner .note {
    background-color: transparent;
    height: 35vh;
    width: 80%;
    margin: 7%;
}

.note p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.note a{
    text-decoration: none;
     color: black;
}

.note .note-text {
    background-color: #ffffa2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) -4px 9px 25px -6px;
    padding: 3%;
    cursor: pointer;
}

.note .note-text:hover {
    background-color: #ffe591;
    transition-duration: 1s;
}
.note .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.note .title h2 {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}

.note .options {
    display: flex;
    margin: 2% 10%;
    gap: 50%;
}

.note .options a {
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    color: var(--cor-quintenaria);
}

.note .options a:hover {
    background-color: var(--cor-quintenaria);
    transition: 1s;
    color: white;
}

footer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-terciaria);
    margin-top: 7vh;
}